<div class="container" style="width : 70% ; margin-top:71px">
  <label for="customRange3">Choose your budget</label>
  <input
    type="range"
    class="custom-range"
    min="0"
    max="3000"
    step="10"
    id="range"
    (input)="valueChanged($event.target.value)"
  />
  <span>{{ range }} dt</span>
</div>
