.features-block {
  background-color: rgb(237, 237, 237, 0.5);
  padding: 45px;
  margin-top: 75px;
  min-height: 410px;
}

.text-center {
  text-align: center;
}

.button-feature {
  background-color: #ededed;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  border: 2px solid #d4d4d4;
  line-height: 30px;
  padding: 0 40px;
  font-size: 14px;
  font-weight: 600;
  color: #a6a6a6;
}
.button-feature:hover {
  border-color: #444;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-feature-active {
  background-color: #0091ea;
  color: white;
}

button:focus {
  outline: 0;
}

.tops {
  position: relative;
  right: -900px;
  top: 70px;
  font-size: 20px;
}
