<div class="features-block container">
  <div class="features-title text-center p-2 mb-2">
    <h1>Put your preferences</h1>
  </div>
  <div class="features-tabs container mx-auto">
    <div class=" row justify-content-center text-center">
      <button
        routerLink="/budget"
        routerLinkActive="button-feature-active"
        class="button-feature"
      >
        Budget
      </button>

      <button
        routerLink="/continent"
        routerLinkActive="button-feature-active"
        class="button-feature"
      >
        Continent
      </button>

      <button
        routerLink="/isCoastel"
        routerLinkActive="button-feature-active"
        class="button-feature"
      >
        isCoastel
      </button>
    </div>
  </div>
  <div class="mt-5 text-center">
    <router-outlet></router-outlet>
  </div>
  <button class="btn btn-primary tops" (click)="onClick()">
    Get Top cities
  </button>
</div>
