<div class="row m-auto justify-content-center">
  <div
    class="africa"
    (click)="onContinentClick('africa', 50000)"
    style="display: table;"
  >
    <img
      src="{{
        continent == 'africa'
          ? 'assets/images/africa_hover.png'
          : 'assets/images/africa.png'
      }}"
      width="120"
      height="100"
    />
    <h5>Africa</h5>
  </div>
  <div
    class="africa mr-2"
    (click)="onContinentClick('north_america', 30000)"
    style="display: table;"
  >
    <img
      src="{{
        continent == 'north_america'
          ? 'assets/images/north_america_hover.png'
          : 'assets/images/north_america.png'
      }}"
      width="120"
      height="100"
    />
    <h5>north america</h5>
  </div>
  <div
    class="africa"
    (click)="onContinentClick('south_america', 40000)"
    style="display: table;"
  >
    <img
      src="{{
        continent == 'south_america'
          ? 'assets/images/south_america_hover.png'
          : 'assets/images/south_america.png'
      }}"
      width="120"
      height="100"
    />
    <h5>south america</h5>
  </div>
  <div
    class="africa"
    (click)="onContinentClick('europe', 10000)"
    style="display: table;"
  >
    <img
      src="{{
        continent == 'europe'
          ? 'assets/images/europe_hover.png'
          : 'assets/images/europe.png'
      }}"
      width="120"
      height="100"
    />
    <h5>europe</h5>
  </div>
  <div
    class="africa"
    (click)="onContinentClick('asia', 20000)"
    style="display: table;"
  >
    <img
      src="{{
        continent == 'asia'
          ? 'assets/images/asia_hover.png'
          : 'assets/images/asia.png'
      }}"
      width="120"
      height="100"
    />
    <h5>asia</h5>
  </div>
</div>
