<div class="theme-search-results-item _mb-10 theme-search-results-item-full">
  <div class="theme-search-results-item-preview">
    <a
      class="theme-search-results-item-mask-link"
      role="button"
      data-toggle="collapse"
      aria-expanded="false"
      aria-controls="searchResultsItem-"
    ></a>
    <div class="row row-no-gutter row-eq-height">
      <div class="col-md-4 ">
        <div class="banner theme-search-results-item-img-full banner-">
          <div
            class="banner-bg"
            [style.background]="'url(' + poi.thumbnail_url + ')'"
            [style.backgroundSize]="'cover'"
          ></div>
          <a class="banner-link"></a>
        </div>
      </div>
      <div class="col-md-8 ">
        <div class="theme-search-results-item-body">
          <div class="row row-eq-height" data-gutter="20">
            <div class="col-md-9 ">
              <h5
                class="theme-search-results-item-title theme-search-results-item-title-lg"
              >
                {{ poi.name }}
              </h5>

              <p>{{ poi.perex }}</p>
              <div class="theme-search-results-item-rating">
                <!-- <ul class="theme-search-results-item-rating-stars">
                  <li class="active">
                    <i class="fa fa-star"></i>
                  </li>
                  <li class="active">
                    <i class="fa fa-star"></i>
                  </li>
                  <li class="active">
                    <i class="fa fa-star"></i>
                  </li>
                  <li class="active">
                    <i class="fa fa-star"></i>
                  </li>
                  <li class="active">
                    <i class="fa fa-star"></i>
                  </li>
                </ul> -->
                <p class="theme-search-results-item-rating-title">
                  <!-- rating : {{ poi.rating | number: "1.1-2" }} -->
                </p>
              </div>
              <!-- <ul class="theme-search-results-item-room-feature-list">
                <li>
                  <i
                    class="fa fa-home theme-search-results-item-room-feature-list-icon"
                  ></i>
                  <span
                    class="theme-search-results-item-room-feature-list-title"
                    >Private room</span
                  >
                </li>
                <li>
                  <i
                    class="fa fa-bed theme-search-results-item-room-feature-list-icon"
                  ></i>
                  <span
                    class="theme-search-results-item-room-feature-list-title"
                    >2 Beds</span
                  >
                </li>
              </ul> -->
              <!-- <p class="theme-search-results-item-location">
                <i class="fa fa-map-marker"></i>
              </p> -->
            </div>
            <div class="col-md-3 ">
              <div class="theme-search-results-item-book">
                <div class="theme-search-results-item-price">
                  <!-- <p class="theme-search-results-item-price-tag">$103</p> -->
                  <!-- <p class="theme-search-results-item-price-sign">night</p> -->
                </div>
                <!-- <a
                  class="btn btn-primary-inverse btn-block theme-search-results-item-price-btn"
                  >Book Now</a
                > -->
                <a
                  class="theme-search-results-item-bookmark theme-search-results-item-bookmark-bottom"
                >
                  <i class="fa fa-bookmark"></i>
                  <span [routerLink]="['/poi', { id: poi.id }]"
                    >See details</span
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="collapse theme-search-results-item-collapse"
    id="searchResultsItem-"
  >
    <div class="theme-search-results-item-extend">
      <a
        class="theme-search-results-item-extend-close"
        role="button"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="searchResultsItem-"
        >&#10005;</a
      >
      <div class="tabbable theme-search-results-item-tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active" role="presentation">
            <a role="tab" data-toggle="tab" aria-controls="tab-item--1"
              >Details</a
            >
          </li>
          <li role="presentation">
            <a role="tab" data-toggle="tab" aria-controls="tab-item--2">Map</a>
          </li>
          <li role="presentation">
            <a role="tab" data-toggle="tab" aria-controls="tab-item--3"
              >Reviews</a
            >
          </li>
          <li role="presentation">
            <a role="tab" data-toggle="tab" aria-controls="tab-item--4"
              >Similar</a
            >
          </li>
        </ul>
        <!-- <div class="tab-content">
                  <div class="tab-pane active" role="tabpanel" id="tab-item--1">
                      <div class="row" data-gutter="20">
                          <div class="col-md-6 ">
                              <ul class="magnific-gallery theme-search-results-item-tabs-gallery">
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/12.jpg">
        <img src="assets/new-template/img/room-results/gallery/12-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/1.jpg">
        <img src="assets/new-template/img/room-results/gallery/1-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/11.jpg">
        <img src="assets/new-template/img/room-results/gallery/11-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/4.jpg">
        <img src="assets/new-template/img/room-results/gallery/4-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/2.jpg">
        <img src="assets/new-template/img/room-results/gallery/2-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/10.jpg">
        <img src="assets/new-template/img/room-results/gallery/10-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/3.jpg">
        <img src="assets/new-template/img/room-results/gallery/3-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/9.jpg">
        <img src="assets/new-template/img/room-results/gallery/9-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/8.jpg">
        <img src="assets/new-template/img/room-results/gallery/8-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/7.jpg">
        <img src="assets/new-template/img/room-results/gallery/7-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/5.jpg">
        <img src="assets/new-template/img/room-results/gallery/5-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                                  <li>
                                      <a href="assets/new-template/img/room-results/gallery/6.jpg">
        <img src="assets/new-template/img/room-results/gallery/6-s.jpg" alt="Image Alternative text" title="Image Title"/>
      </a>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-6 ">
                              <p class="theme-search-results-item-tabs-details-desc">Good business hotel. Close to Starbucks. Good for sightseeing and close to the city center. Friendly atmosphere and good hotel grounds. Great valet service. Popular among families.</p>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="tab-item--2">
                      <div class="google-map theme-search-results-item-tabs-map" data-lat="40.7483624" data-lng="-73.9900896"></div>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="tab-item--3">
                      <div class="theme-reviews">
                          <div class="theme-reviews-list">
                              <article class="theme-reviews-item">
                                  <div class="row" data-gutter="10">
                                      <div class="col-md-3 ">
                                          <div class="theme-reviews-item-info">
                                              <img class="theme-reviews-item-avatar" src="assets/new-template/img/redneck-man-fashion-model_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                              <p class="theme-reviews-item-date">Reviewed Mon, Jun 25</p>
                                              <p class="theme-reviews-item-author">by John Doe</p>
                                          </div>
                                      </div>
                                      <div class="col-md-9 ">
                                          <div class="theme-reviews-rating">
                                              <ul class="theme-reviews-rating-stars">
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star-o"></i>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="theme-reviews-item-body">
                                              <p class="theme-reviews-item-text">Consectetur semper euismod ornare vivamus enim habitasse facilisis lobortis nisl mauris tempor litora nascetur facilisis taciti dolor dictum senectus mollis nunc conubia fusce
                                                  dignissim habitant habitasse et at feugiat metus class leo</p>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                              <article class="theme-reviews-item">
                                  <div class="row" data-gutter="10">
                                      <div class="col-md-3 ">
                                          <div class="theme-reviews-item-info">
                                              <img class="theme-reviews-item-avatar" src="assets/new-template/img/sevenly_shirts_-_june_2012_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                              <p class="theme-reviews-item-date">Reviewed Sun, Jun 24</p>
                                              <p class="theme-reviews-item-author">by Frank Mills</p>
                                          </div>
                                      </div>
                                      <div class="col-md-9 ">
                                          <div class="theme-reviews-rating">
                                              <ul class="theme-reviews-rating-stars">
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star-half-o"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star-o"></i>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="theme-reviews-item-body">
                                              <p class="theme-reviews-item-text">Fusce sapien facilisi placerat curabitur nascetur quis maecenas blandit sollicitudin ut lacus elementum aliquam quis tempus maecenas id volutpat montes mi vivamus at elementum
                                                  est libero curae proin penatibus nostra sociosqu ac ipsum cras platea nascetur</p>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                              <article class="theme-reviews-item">
                                  <div class="row" data-gutter="10">
                                      <div class="col-md-3 ">
                                          <div class="theme-reviews-item-info">
                                              <img class="theme-reviews-item-avatar" src="assets/new-template/img/man-wearing-blue-denim-buttons-up-long-sleeve-and-blace-frame-eyelgasses_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                              <p class="theme-reviews-item-date">Reviewed Mon, Jun 18</p>
                                              <p class="theme-reviews-item-author">by John Mathis</p>
                                          </div>
                                      </div>
                                      <div class="col-md-9 ">
                                          <div class="theme-reviews-rating">
                                              <ul class="theme-reviews-rating-stars">
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="theme-reviews-item-body">
                                              <p class="theme-reviews-item-text">Torquent inceptos convallis convallis penatibus netus euismod integer enim turpis elit eros fermentum id vel torquent bibendum integer vel tempor posuere vehicula condimentum
                                                  enim vitae bibendum phasellus magna leo commodo mus gravida malesuada placerat lorem cursus et rhoncus nascetur mi pharetra semper</p>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                              <article class="theme-reviews-item">
                                  <div class="row" data-gutter="10">
                                      <div class="col-md-3 ">
                                          <div class="theme-reviews-item-info">
                                              <img class="theme-reviews-item-avatar" src="assets/new-template/img/gamer_chick_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                              <p class="theme-reviews-item-date">Reviewed Tue, Jun 12</p>
                                              <p class="theme-reviews-item-author">by Cyndy Naquin</p>
                                          </div>
                                      </div>
                                      <div class="col-md-9 ">
                                          <div class="theme-reviews-rating">
                                              <ul class="theme-reviews-rating-stars">
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star-half-o"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star-o"></i>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="theme-reviews-item-body">
                                              <p class="theme-reviews-item-text">Rhoncus habitant sapien eros scelerisque tortor semper cubilia inceptos massa nulla nascetur risus imperdiet cras faucibus at vel condimentum auctor curabitur suscipit vestibulum
                                                  laoreet ac semper nisi tellus non taciti viverra id duis risus ornare adipiscing phasellus</p>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                              <article class="theme-reviews-item">
                                  <div class="row" data-gutter="10">
                                      <div class="col-md-3 ">
                                          <div class="theme-reviews-item-info">
                                              <img class="theme-reviews-item-avatar" src="assets/new-template/img/fashion-beauty-model-portrait-girl_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                              <p class="theme-reviews-item-date">Reviewed Mon, Jun 11</p>
                                              <p class="theme-reviews-item-author">by Oliver Ross</p>
                                          </div>
                                      </div>
                                      <div class="col-md-9 ">
                                          <div class="theme-reviews-rating">
                                              <ul class="theme-reviews-rating-stars">
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star-half-o"></i>
                                                  </li>
                                                  <li>
                                                      <i class="fa fa-star-o"></i>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="theme-reviews-item-body">
                                              <p class="theme-reviews-item-text">Euismod fermentum aliquam condimentum ultricies tristique praesent sagittis tincidunt condimentum accumsan per quam aliquam habitant egestas dolor lacus dis volutpat augue vel
                                                  cursus suscipit adipiscing ipsum netus dis proin lorem eget adipiscing scelerisque eros convallis pretium dapibus suscipit mauris aptent velit mi primis potenti nascetur bibendum
                                                  varius</p>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                              <div class="row">
                                  <div class="col-md-9 col-md-offset-3">
                                      <a class="theme-reviews-more" href="#">&#x2b; More Reviews</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="tab-item--4">
                      <div class="row" data-gutter="10">
                          <div class="col-md-3">
                              <div class="theme-search-results-item-tabs-similar-item">
                                  <a class="theme-search-results-item-tabs-similar-item-link" href="#"></a>
                                  <img class="theme-search-results-item-tabs-similar-item-img" src="assets/new-template/img/room-results/similar/1.jpg" alt="Image Alternative text" title="Image Title" />
                                  <div class="theme-search-results-item-tabs-similar-item-caption">
                                      <p class="theme-search-results-item-tabs-similar-item-price">$89</p>
                                      <ul class="theme-search-results-item-tabs-similar-item-stars">
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                      </ul>
                                      <h5 class="theme-search-results-item-tabs-similar-item-title">Millennium Broadway Hotel - Times Square</h5>
                                      <a class="btn btn-primary btn-block btn-sm text-center theme-search-results-item-tabs-similar-item-book">View Deal</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="theme-search-results-item-tabs-similar-item">
                                  <a class="theme-search-results-item-tabs-similar-item-link" href="#"></a>
                                  <img class="theme-search-results-item-tabs-similar-item-img" src="assets/new-template/img/room-results/similar/2.jpg" alt="Image Alternative text" title="Image Title" />
                                  <div class="theme-search-results-item-tabs-similar-item-caption">
                                      <p class="theme-search-results-item-tabs-similar-item-price">$80</p>
                                      <ul class="theme-search-results-item-tabs-similar-item-stars">
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                      </ul>
                                      <h5 class="theme-search-results-item-tabs-similar-item-title">The Time New York</h5>
                                      <a class="btn btn-primary btn-block btn-sm text-center theme-search-results-item-tabs-similar-item-book">View Deal</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="theme-search-results-item-tabs-similar-item">
                                  <a class="theme-search-results-item-tabs-similar-item-link" href="#"></a>
                                  <img class="theme-search-results-item-tabs-similar-item-img" src="assets/new-template/img/room-results/similar/3.jpg" alt="Image Alternative text" title="Image Title" />
                                  <div class="theme-search-results-item-tabs-similar-item-caption">
                                      <p class="theme-search-results-item-tabs-similar-item-price">$86</p>
                                      <ul class="theme-search-results-item-tabs-similar-item-stars">
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                      </ul>
                                      <h5 class="theme-search-results-item-tabs-similar-item-title">Hudson New York, Central Park</h5>
                                      <a class="btn btn-primary btn-block btn-sm text-center theme-search-results-item-tabs-similar-item-book">View Deal</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="theme-search-results-item-tabs-similar-item">
                                  <a class="theme-search-results-item-tabs-similar-item-link" href="#"></a>
                                  <img class="theme-search-results-item-tabs-similar-item-img" src="assets/new-template/img/room-results/similar/5.jpg" alt="Image Alternative text" title="Image Title" />
                                  <div class="theme-search-results-item-tabs-similar-item-caption">
                                      <p class="theme-search-results-item-tabs-similar-item-price">$103</p>
                                      <ul class="theme-search-results-item-tabs-similar-item-stars">
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li class="active">
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                          <li>
                                              <i class="fa fa-star"></i>
                                          </li>
                                      </ul>
                                      <h5 class="theme-search-results-item-tabs-similar-item-title">Row NYC</h5>
                                      <a class="btn btn-primary btn-block btn-sm text-center theme-search-results-item-tabs-similar-item-book">View Deal</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
      </div>
    </div>
  </div>
</div>
