    <div class="theme-page-section">
        <div class="container">
            <ul class="theme-breadcrumbs _mt-0 _mb-30 theme-breadcrumbs-default theme-breadcrumbs-sm">
                <li>
                    <p class="theme-breadcrumbs-item-title">
                        <a href="index.html">Home</a>
                    </p>
                </li>
                <li>
                    <p class="theme-breadcrumbs-item-title">
                        <a href="#">United Kindom</a>
                    </p>
                    <p class="theme-breadcrumbs-item-subtitle">3,245 offers</p>
                </li>
                <li>
                    <p class="theme-breadcrumbs-item-title">
                        <a href="#">England</a>
                    </p>
                    <p class="theme-breadcrumbs-item-subtitle">615 offers</p>
                </li>
                <li>
                    <p class="theme-breadcrumbs-item-title">
                        <a href="#">London Experiences</a>
                    </p>
                    <p class="theme-breadcrumbs-item-subtitle">312 offers</p>
                </li>
                <li>
                    <p class="theme-breadcrumbs-item-title active">Original Chocolate Making Workshop</p>
                </li>
            </ul>
            <div class="row row-col-static" id="sticky-parent" data-gutter="60">
                <div class="col-md-8 ">
                    <div class="theme-search-area _desk-h _mb-30 theme-search-area-vert">
                        <div class="theme-search-area-header _mb-20 theme-search-area-header-sm">
                            <h1 class="theme-search-area-title">$92 per person</h1>
                            <p class="theme-search-area-subtitle">Eget nullam tortor leo tempus</p>
                        </div>
                        <div class="theme-search-area-form">
                            <div class="theme-search-area-section theme-search-area-section-sm">
                                <div class="theme-search-area-section-inner">
                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                    <input class="theme-search-area-section-input datePickerSingle _mob-h" value="Wed 06/27" type="text" />
                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27" type="date" />
                                </div>
                            </div>
                            <div class="theme-search-area-section theme-search-area-section-sm quantity-selector" data-increment="Guests">
                                <div class="theme-search-area-section-inner">
                                    <i class="theme-search-area-section-icon lin lin-people"></i>
                                    <input class="theme-search-area-section-input" value="2 Guests" type="text" />
                                    <div class="quantity-selector-box" id="mobile-ExpSearchGuests">
                                        <div class="quantity-selector-inner">
                                            <p class="quantity-selector-title">Guests</p>
                                            <ul class="quantity-selector-controls">
                                                <li class="quantity-selector-decrement">
                                                    <a href="#">&#45;</a>
                                                </li>
                                                <li class="quantity-selector-current">1</li>
                                                <li class="quantity-selector-increment">
                                                    <a href="#">&#43;</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-item-page-summary-price _mb-20">
                                <a class="theme-item-page-summary-price-link" href="#summaryPriceCollapseMobile" data-toggle="collapse" aria-expanded="false" aria-controls="summaryPriceCollapseMobile">Show summary</a>
                                <div class="collapse" id="summaryPriceCollapseMobile">
                                    <ul class="theme-item-page-summary-price-list">
                                        <li class="theme-item-page-summary-price-item">
                                            <h5 class="theme-item-page-summary-price-item-title">2 Guests</h5>
                                            <p class="theme-item-page-summary-price-item-subtitle"></p>
                                            <p class="theme-item-page-summary-price-item-price">$184.00</p>
                                        </li>
                                        <li class="theme-item-page-summary-price-item">
                                            <h5 class="theme-item-page-summary-price-item-title">Service fee</h5>
                                            <p class="theme-item-page-summary-price-item-subtitle"></p>
                                            <p class="theme-item-page-summary-price-item-price">$7.00</p>
                                        </li>
                                    </ul>
                                </div>
                                <p class="theme-item-page-summary-price-total">Total
                                    <span>$191.00</span>
                                </p>
                            </div>
                            <button class="theme-search-area-submit _mt-0 _tt-uc">Book Now</button>
                        </div>
                    </div>
                    <div class="theme-item-page-details theme-item-page-details-first-nm">
                        <div class="theme-item-page-details-section">
                            <!-- <div class="fotorama" data-nav="thumbs false" data-minwidth="100%" data-arrows="always" data-allowfullscreen="native"> -->
                               <div  *ngIf="city;  else loading" class="fotorama" data-nav="thumbs false" data-minwidth="100%" data-arrows="always" data-allowfullscreen="native">
                                <img [src]="city.media[0].url" alt="Image Alternative text" title="Image Title" class="img-responsive"/>
                                <!-- <img src="assets/new-template/img/295nlwgdrkm_800x400.jpeg" alt="Image Alternative text" title="Image Title" />
                                <img src="assets/new-template/img/ff0hoix3pzu_800x400.jpeg" alt="Image Alternative text" title="Image Title" />
                                <img src="assets/new-template/img/majtbfmv5_k_800x400.jpeg" alt="Image Alternative text" title="Image Title" /> -->
                            </div>
                            <ng-template #loading>...loading</ng-template>
                        </div>
                        <div class="theme-item-page-details-section">
                            <h5 class="theme-item-page-details-section-title">Overview</h5>
                            <div class="theme-item-page-desc">
                                 {{ city.description }}
                            </div>
                        </div>
                        <a href="https://www.latlong.net/c/?lat={{city.location.lat}}&long={{city.location.lng}}" target="_blank">({{city.location.lat}}, {{city.location.lng}})</a>
                        <div class="theme-item-page-details-section">
                            <h5 class="theme-item-page-details-section-title">Location</h5>
                            <div class="theme-item-page-map google-map" data-lat="" data-lng="" data-tab="true"></div>
                        </div>
                        <div class="theme-item-page-details-section">
                            <h5 class="theme-item-page-details-section-title">Reviews</h5>
                            <div class="theme-reviews">
                                <div class="theme-reviews-list">
                                    <article class="theme-reviews-item">
                                        <div class="row" data-gutter="10">
                                            <div class="col-md-3 ">
                                                <div class="theme-reviews-item-info">
                                                    <img class="theme-reviews-item-avatar" src="assets/new-template/img/man-wearing-black-formal-suit-with-black-necktie_70x70.jpeg" alt="Image Alternative text" title="Image Title" />
                                                    <p class="theme-reviews-item-date">Fri, Jun 22</p>
                                                    <p class="theme-reviews-item-author">by Carol Blevins</p>
                                                </div>
                                            </div>
                                            <div class="col-md-9 ">
                                                <div class="theme-reviews-rating">
                                                    <ul class="theme-reviews-rating-stars">
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star-o"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="theme-reviews-item-body">
                                                    <p class="theme-reviews-item-text">Ultrices pellentesque viverra ad consectetur cursus torquent phasellus senectus orci penatibus nam luctus nisl ipsum felis sociosqu amet dui eu urna porta ante metus pretium consectetur velit dictum
                                                        lacus leo</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="theme-reviews-item">
                                        <div class="row" data-gutter="10">
                                            <div class="col-md-3 ">
                                                <div class="theme-reviews-item-info">
                                                    <img class="theme-reviews-item-avatar" src="assets/new-template/img/gamer_chick_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                                    <p class="theme-reviews-item-date">Fri, Jun 15</p>
                                                    <p class="theme-reviews-item-author">by Richard Jones</p>
                                                </div>
                                            </div>
                                            <div class="col-md-9 ">
                                                <div class="theme-reviews-rating">
                                                    <ul class="theme-reviews-rating-stars">
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="theme-reviews-item-body">
                                                    <p class="theme-reviews-item-text">Rutrum elit eget aenean nostra ligula lacus tempus hendrerit pellentesque sagittis ut libero dictum consectetur penatibus tincidunt convallis ultrices semper lacus condimentum lectus rutrum semper sapien
                                                        elit magna feugiat cubilia</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="theme-reviews-item">
                                        <div class="row" data-gutter="10">
                                            <div class="col-md-3 ">
                                                <div class="theme-reviews-item-info">
                                                    <img class="theme-reviews-item-avatar" src="assets/new-template/img/chiara_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                                    <p class="theme-reviews-item-date">Sun, Jun 10</p>
                                                    <p class="theme-reviews-item-author">by Ava McDonald</p>
                                                </div>
                                            </div>
                                            <div class="col-md-9 ">
                                                <div class="theme-reviews-rating">
                                                    <ul class="theme-reviews-rating-stars">
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star-o"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="theme-reviews-item-body">
                                                    <p class="theme-reviews-item-text">Nascetur eu imperdiet ac at donec scelerisque felis porta convallis ligula fames enim sollicitudin cum inceptos suspendisse lectus vitae quam condimentum duis lacus posuere ullamcorper euismod lacinia
                                                        etiam amet et nam non mus vehicula nostra nullam curabitur justo varius suscipit morbi integer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <div class="row">
                                        <div class="col-md-9 col-md-offset-3">
                                            <a class="theme-reviews-more" href="#">&#x2b; More Reviews</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="theme-item-page-header _mt-0">
                        <div class="theme-item-page-header-body">
                            <div class="theme-item-page-header-rating">
                                <ul class="theme-item-page-header-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-half-o"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                                <p class="theme-item-page-header-rating-title">407 reviews</p>
                            </div>
                            <h1 class="theme-item-page-header-title theme-item-page-header-title-xs">Go inside local flower boutiques with a retail insider</h1>
                        </div>
                    </div>
                    <div class="sticky-col _pt-20 _mob-h">
                        <div class="theme-search-area theme-search-area-vert">
                            <div class="theme-search-area-header _mb-20 theme-search-area-header-sm">
                                <h1 class="theme-search-area-title">$92 per person</h1>
                                <p class="theme-search-area-subtitle">Cursus scelerisque enim faucibus dis</p>
                            </div>
                            <div class="theme-search-area-form">
                                <div class="theme-search-area-section theme-search-area-section-sm">
                                    <div class="theme-search-area-section-inner">
                                        <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                        <input class="theme-search-area-section-input datePickerSingle _mob-h" value="Wed 06/27" type="text" />
                                        <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27" type="date" />
                                    </div>
                                </div>
                                <div class="theme-search-area-section theme-search-area-section-sm quantity-selector" data-increment="Guests">
                                    <div class="theme-search-area-section-inner">
                                        <i class="theme-search-area-section-icon lin lin-people"></i>
                                        <input class="theme-search-area-section-input" value="2 Guests" type="text" />
                                        <div class="quantity-selector-box" id="ExpSearchGuests">
                                            <div class="quantity-selector-inner">
                                                <p class="quantity-selector-title">Guests</p>
                                                <ul class="quantity-selector-controls">
                                                    <li class="quantity-selector-decrement">
                                                        <a href="#">&#45;</a>
                                                    </li>
                                                    <li class="quantity-selector-current">1</li>
                                                    <li class="quantity-selector-increment">
                                                        <a href="#">&#43;</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="theme-item-page-summary-price _mb-20">
                                    <a class="theme-item-page-summary-price-link" href="#summaryPriceCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="summaryPriceCollapse">Show summary</a>
                                    <div class="collapse" id="summaryPriceCollapse">
                                        <ul class="theme-item-page-summary-price-list">
                                            <li class="theme-item-page-summary-price-item">
                                                <h5 class="theme-item-page-summary-price-item-title">2 Guests</h5>
                                                <p class="theme-item-page-summary-price-item-subtitle"></p>
                                                <p class="theme-item-page-summary-price-item-price">$184.00</p>
                                            </li>
                                            <li class="theme-item-page-summary-price-item">
                                                <h5 class="theme-item-page-summary-price-item-title">Service fee</h5>
                                                <p class="theme-item-page-summary-price-item-subtitle"></p>
                                                <p class="theme-item-page-summary-price-item-price">$7.00</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="theme-item-page-summary-price-total">Total
                                        <span>$191.00</span>
                                    </p>
                                </div>
                                <button class="theme-search-area-submit _mt-0 _tt-uc" (click)="discover_it()">Discover it</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

