
    <div class="container">
        <div class="theme-item-page-header">
            <div class="theme-item-page-header-body">
                <ul class="theme-item-page-header-stars">
                </ul>
                <h1 class="theme-item-page-header-title">{{ poi && poi.name}}</h1>
             
                <!-- <ul class="theme-breadcrumbs _mt-10 _mt-mob-30 theme-breadcrumbs-default">
                    <li>
                        <p class="theme-breadcrumbs-item-title">
                            <a href="index.html">Home</a>
                        </p>
                    </li>
                    <li>
                        <p class="theme-breadcrumbs-item-title">
                            <a href="#">United States</a>
                        </p>
                        <p class="theme-breadcrumbs-item-subtitle">123,878 hotels</p>
                    </li>
                    <li>
                        <p class="theme-breadcrumbs-item-title">
                            <a href="#">New York State</a>
                        </p>
                        <p class="theme-breadcrumbs-item-subtitle">5,478 hotels</p>
                    </li>
                    <li>
                        <p class="theme-breadcrumbs-item-title">
                            <a href="#">New York City Hotels</a>
                        </p>
                        <p class="theme-breadcrumbs-item-subtitle">2438 properties</p>
                    </li>
                    <li>
                        <p class="theme-breadcrumbs-item-title active">{{poi.name}}</p>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="theme-page-section">
        <div class="container-fluid">
            <div class="row row-col-static" id="sticky-parent">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="theme-item-page-tabs _mb-30">
                                <div class="tabbable">
                                    <!-- <ul class="nav nav-tabs nav-default nav-line nav-lg nav-mob-inline" role="tablist">
                                        <li class="_mr-30 active" role="presentation">
                                            <a aria-controls="HotelPageTabs-1" role="tab" data-toggle="tab" href="#HotelPageTabs-1">Images</a>
                                        </li>
                                        <li class="_mr-30" role="presentation">
                                            <a aria-controls="HotelPageTabs-2" role="tab" data-toggle="tab" href="#HotelPageTabs-2">Details</a>
                                        </li>
                                        <li class="_mr-30" role="presentation">
                                            <a aria-controls="HotelPageTabs-3" role="tab" data-toggle="tab" href="#HotelPageTabs-3">Map</a>
                                        </li>
                                        <li class="_mr-30" role="presentation">
                                            <a aria-controls="HotelPageTabs-4" role="tab" data-toggle="tab" href="#HotelPageTabs-4">Reviews</a>
                                        </li>
                                        <li class="_mr-30" role="presentation">
                                            <a aria-controls="HotelPageTabs-5" role="tab" data-toggle="tab" href="#HotelPageTabs-5">Facilities</a>
                                        </li>
                                    </ul> -->
                                    <div class="tab-content _pt-20">
                                        <div class="tab-pane active" id="HotelPageTabs-1" role="tab-panel">
                                            <div class="row magnific-gallery row-col-gap" data-gutter="10">
                                                <div class="col-xs-3 " *ngFor="let media of medias">
                                                    <div class="banner banner-sqr banner-">
                                                        <div class="banner-bg" 
                                                         [style.background]="'url(' + media.url_template + ')'"
            [style.backgroundSize]="'cover'"
                                                        ></div>
                                                        <!-- <a class="banner-link" href="../assets/new-template/img/hotel-page/slider/1.jpg"></a> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="HotelPageTabs-2" role="tab-panel">
                                            <div class="theme-item-page-desc">
                                             <!--description-->
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="HotelPageTabs-3" role="tab-panel">
                                            <div class="theme-item-page-map google-map" data-lat="40.7483624" data-lng="-73.9900896"></div>
                                        </div>
                                        <div class="tab-pane" id="HotelPageTabs-4" role="tab-panel">
                                            <div class="theme-reviews">
                                                <div class="theme-reviews-list">
                                                    <article class="theme-reviews-item">
                                                        <div class="row" data-gutter="10">
                                                            <div class="col-md-3 ">
                                                                <div class="theme-reviews-item-info">
                                                                    <img class="theme-reviews-item-avatar" src="../assets/new-template/img/stella_grutzmann_premier_models_management_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                                                    <p class="theme-reviews-item-date">Reviewed Wed, Jun 20</p>
                                                                    <p class="theme-reviews-item-author">by Sarah Slater</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-9 ">
                                                                <div class="theme-reviews-rating">
                                                                    <div class="theme-reviews-rating-header">
                                                                        <span class="theme-reviews-rating-num">8.8</span>
                                                                        <span class="theme-reviews-rating-title">Excellent</span>
                                                                    </div>
                                                                    <div class="theme-reviews-rating-bar">
                                                                        <div style="width:88%;"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme-reviews-item-body">
                                                                    <p class="theme-reviews-item-text">Cursus vitae quisque sodales ante urna potenti fermentum sed arcu augue massa tempor donec nunc lacus bibendum velit arcu non vestibulum in conubia quis ornare turpis turpis hac parturient
                                                                        cubilia iaculis semper consectetur cubilia</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="theme-reviews-item">
                                                        <div class="row" data-gutter="10">
                                                            <div class="col-md-3 ">
                                                                <div class="theme-reviews-item-info">
                                                                    <img class="theme-reviews-item-avatar" src="../assets/new-template/img/afro_70x70.jpg" alt="Image Alternative text" title="Image Title" />
                                                                    <p class="theme-reviews-item-date">Reviewed Fri, Jun 15</p>
                                                                    <p class="theme-reviews-item-author">by Joseph Watson</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-9 ">
                                                                <div class="theme-reviews-rating">
                                                                    <div class="theme-reviews-rating-header">
                                                                        <span class="theme-reviews-rating-num">8.4</span>
                                                                        <span class="theme-reviews-rating-title">Excellent</span>
                                                                    </div>
                                                                    <div class="theme-reviews-rating-bar">
                                                                        <div style="width:84%;"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme-reviews-item-body">
                                                                    <p class="theme-reviews-item-text">Quisque nisi vivamus tempus purus orci amet sit adipiscing mollis potenti lobortis congue congue sagittis tincidunt cras montes quam consequat</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="theme-reviews-item">
                                                        <div class="row" data-gutter="10">
                                                            <div class="col-md-3 ">
                                                                <div class="theme-reviews-item-info">
                                                                    <img class="theme-reviews-item-avatar" src="../assets/new-template/img/adult-chill-computer-connection-450271_70x70.jpeg" alt="Image Alternative text" title="Image Title" />
                                                                    <p class="theme-reviews-item-date">Reviewed Sun, Jun 10</p>
                                                                    <p class="theme-reviews-item-author">by Alison Mackenzie</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-9 ">
                                                                <div class="theme-reviews-rating">
                                                                    <div class="theme-reviews-rating-header">
                                                                        <span class="theme-reviews-rating-num">9.0</span>
                                                                        <span class="theme-reviews-rating-title">Excellent</span>
                                                                    </div>
                                                                    <div class="theme-reviews-rating-bar">
                                                                        <div style="width:90%;"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme-reviews-item-body">
                                                                    <p class="theme-reviews-item-text">Convallis congue sit curae ornare mollis nullam quisque ornare ipsum ornare sagittis venenatis integer ullamcorper fermentum nunc volutpat tortor litora rutrum feugiat sed dolor viverra
                                                                        faucibus imperdiet eleifend scelerisque libero eleifend urna nascetur</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <div class="row">
                                                        <div class="col-md-9 col-md-offset-3">
                                                            <a class="theme-reviews-more" href="#">&#x2b; More Reviews</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="HotelPageTabs-5" role="tab-panel">
                                            <div class="theme-item-page-facilities">
                                                <div class="row">
                                                    <div class="col-md-4 ">
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-shower theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Bathroom</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>Toilet paper</li>
                                                                <li>Linen</li>
                                                                <li>Towels</li>
                                                                <li>Toilet</li>
                                                                <li>Free toiletries</li>
                                                                <li>Hairdryer</li>
                                                            </ul>
                                                        </div>
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-heart theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Pool and wellness</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>Massage</li>
                                                                <li>Fitness centre</li>
                                                                <li>Sauna</li>
                                                            </ul>
                                                        </div>
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-info-circle theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">General</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>Vending machine</li>
                                                                <li>Air conditioning</li>
                                                                <li>Wake-up service</li>
                                                                <li>Heating</li>
                                                                <li>Laptop safe</li>
                                                                <li>Safety deposit box</li>
                                                                <li>Lift</li>
                                                                <li>Family rooms</li>
                                                                <li>Facilities for disabled guests</li>
                                                                <li>Non-smoking rooms</li>
                                                                <li>Iron</li>
                                                                <li>Newspapers</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 ">
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-wifi theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Internet</h5>
                                                            <p class="theme-item-page-facilities-item-body">WiFi is available in all areas and costs USD 16.95 per 24 hours.</p>
                                                        </div>
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-car theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Parking</h5>
                                                            <p class="theme-item-page-facilities-item-body">Private parking is possible on site (reservation is not needed) and costs USD 60 per day.</p>
                                                        </div>
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-users theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Reception services</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>Concierge service</li>
                                                                <li>ATM/cash machine on site</li>
                                                                <li>Luggage storage</li>
                                                                <li>Ticket service</li>
                                                                <li>Tour desk</li>
                                                                <li>Currency excharge</li>
                                                                <li>Express check-in/check-out</li>
                                                                <li>24-hour front desk</li>
                                                            </ul>
                                                        </div>
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-globe theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Languages spoken</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>Italian</li>
                                                                <li>French</li>
                                                                <li>Spanish</li>
                                                                <li>English</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 ">
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-tint theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Cleaning services</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>Daily maid service</li>
                                                                <li>Shoeshine</li>
                                                                <li>Ironing service</li>
                                                                <li>Dry cleaning</li>
                                                                <li>Laundry</li>
                                                            </ul>
                                                        </div>
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-handshake-o theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Business facilities</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>Fax/photocopynig</li>
                                                                <li>Buness centre</li>
                                                                <li>Meeting/banquet facilities</li>
                                                            </ul>
                                                        </div>
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-laptop theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Media and technology</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>iPod dock</li>
                                                                <li>Cable channels</li>
                                                                <li>Radio</li>
                                                                <li>Telephone</li>
                                                                <li>TV</li>
                                                            </ul>
                                                        </div>
                                                        <div class="theme-item-page-facilities-item">
                                                            <i class="fa fa-glass theme-item-page-facilities-item-icon"></i>
                                                            <h5 class="theme-item-page-facilities-item-title">Food and Drink</h5>
                                                            <ul class="theme-item-page-facilities-item-list">
                                                                <li>Breakfast in the room</li>
                                                                <li>Bar</li>
                                                                <li>Restaurant</li>
                                                                <li>Tea/Coffee maker</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" width>
                            <div class="theme-item-page-overview _mt-70">
                                <div class="theme-item-page-overview-rate"  *ngIf="poi && poi.customer_rating">
                                    <p class="theme-item-page-overview-rate-subtitle">
                                        <b>{{poi.customer_rating}}</b> out of 10
                                    </p>
                                    <h3 class="theme-item-page-overview-rate-title">{{ poi.customer_rating > 2 ?  poi.customer_rating >=7 ? "Excelent": "Good" : "Bad"}}</h3>
                                    <!-- <p class="theme-item-page-overview-rate-count">Based on {{poi.area}} reviews</p> -->
                                </div>
                                
                                <ul class="theme-item-page-overview-summary">
                                    <li  *ngIf="poi && poi.duration"> <span class="titre">duration :</span> {{poi.duration/60}}  minutes </li>
                                    <li  *ngIf="poi && poi.address"><span class="titre">adress :</span> {{poi.address}}</li>
                                    <li  *ngIf="poi && poi.email"><span class="titre">email :</span>{{poi.email}}</li>
                                    <li  *ngIf="poi && poi.phone"> <span class="titre">phone :</span>{{poi.phone}}</li>
                                    <li  *ngIf="poi && poi.openning_hours"> <span class="titre">poi.openning hours :</span> {{poi.openning_hours}}</li>
                                    <p>
                                      <span class="titre">description :</span> <br>  {{poi.description}}
                                    </p>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                  
              
                </div>
                <!-- <div class="col-md-3 ">
                    <div class="_mt-70 _mt-mob-30">
                        <div class="theme-ad _mb-10">
                            <a class="theme-ad-link" href="#"></a>
                            <p class="theme-ad-sign">Advertisement</p>
                            <img class="theme-ad-img" src="../assets/new-template/img/side_banners/hotel/3.jpg" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <div class="theme-sidebar-section _mb-10">
                            <h5 class="theme-sidebar-section-title">Weather in New York</h5>
                            <ul class="theme-sidebar-section-weather-list">
                                <li>
                                    <p class="theme-sidebar-section-weather-date">Wed, Jun 27</p>
                                    <p class="theme-sidebar-section-weather-temp">
                                        <i class="wi wi-day-sunny theme-sidebar-section-weather-icon"></i>
                                        <b>31&#176;</b>/26&#176;
                                    </p>
                                </li>
                                <li>
                                    <p class="theme-sidebar-section-weather-date">Thu, Jun 28</p>
                                    <p class="theme-sidebar-section-weather-temp">
                                        <i class="wi wi-day-sunny theme-sidebar-section-weather-icon"></i>
                                        <b>35&#176;</b>/26&#176;
                                    </p>
                                </li>
                                <li>
                                    <p class="theme-sidebar-section-weather-date">Fri, Jun 29</p>
                                    <p class="theme-sidebar-section-weather-temp">
                                        <i class="wi wi-day-sunny theme-sidebar-section-weather-icon"></i>
                                        <b>36&#176;</b>/27&#176;
                                    </p>
                                </li>
                                <li>
                                    <p class="theme-sidebar-section-weather-date">Sat, Jun 30</p>
                                    <p class="theme-sidebar-section-weather-temp">
                                        <i class="wi wi-rain theme-sidebar-section-weather-icon"></i>
                                        <b>35&#176;</b>/30&#176;
                                    </p>
                                </li>
                                <li>
                                    <p class="theme-sidebar-section-weather-date">Sun, Jul 01</p>
                                    <p class="theme-sidebar-section-weather-temp">
                                        <i class="wi wi-day-sunny theme-sidebar-section-weather-icon"></i>
                                        <b>30&#176;</b>/21&#176;
                                    </p>
                                </li>
                                <li>
                                    <p class="theme-sidebar-section-weather-date">Mon, Jul 02</p>
                                    <p class="theme-sidebar-section-weather-temp">
                                        <i class="wi wi-day-sunny theme-sidebar-section-weather-icon"></i>
                                        <b>39&#176;</b>/33&#176;
                                    </p>
                                </li>
                            </ul>
                            <p class="theme-sidebar-section-weather-forecast">
                                <a href="#">detailed forecast &rarr;</a>
                            </p>
                        </div>
                        <div class="theme-sidebar-section _mb-10">
                            <ul class="theme-sidebar-section-features-list">
                                <li>
                                    <h5 class="theme-sidebar-section-features-list-title">Manage your bookings!</h5>
                                    <p class="theme-sidebar-section-features-list-body">You're in control of your booking - no registration required.</p>
                                </li>
                                <li>
                                    <h5 class="theme-sidebar-section-features-list-title">Customer support available 24/7 worldwide!</h5>
                                    <p class="theme-sidebar-section-features-list-body">Website and customer support in English and 41 other languages.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
      