<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12" *ngFor="let a of list">
      <app-top-cities-item [text]="a"></app-top-cities-item>
    </div>
  </div>
</div> -->

<div class="theme-page-section theme-page-section-xxl">
  <div class="container">
    <div class="theme-page-section-header _ta-l">
      <h5 class="theme-page-section-title">Top Destinations</h5>
      <p class="theme-page-section-subtitle">
        Most popular cities to travel close to your preferences
      </p>
    </div>
    <div class="row row-col-gap" data-gutter="30">
      <app-top-cities-item
        *ngFor="let city of cities; let i = index"
        [city]="city"
        [display]="display[i]"
      ></app-top-cities-item>
    </div>
  </div>
</div>
