<div class="{{ display }}  mt-5 ">
  <div
    class="banner _h-45vh _br-4 _bsh-xl _bsh-light banner-animate banner-animate-mask-in banner-animate-zoom-in banner-animate-slow"
  >
    <div
      class="banner-bg"
      [style.background]="'url(' + image + ')'"
      [style.backgroundSize]="'cover'"
    ></div>
    <div class="banner-mask"></div>
    <a class="banner-link" [routerLink]="['/details', { id: city.id }]"></a>
    <div
      class="banner-caption _bg-w _p-20 _w-a banner-caption-bottom banner-caption-dark"
    >
      <h5 class="banner-title">{{ name }}</h5>
      <p class="banner-subtitle _mt-5 _fw-n">{{ country }}</p>
    </div>
  </div>
</div>
