<div class="container">
  <form>
    <div class="form-group d-flex" style="position : relative">
      <input
        [(ngModel)]="cityName"
        name="cityName"
        (keyup)="onkeyup()"
        (keyup.enter)="visit()"
        type="text"
        class="form-control"
        id="search"
        placeholder="search for a city to visit !"
        autocomplete="off"
      />
      <a class="btn btn-success" (click)="visit()">Visit</a>
    </div>
    <div
      class="output"
      style="margin-top:-10px ; position: absolute; z-index: 9999; "
    >
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let city of filtredCities"
          (click)="cityClicked(city.name)"
        >
          {{ city.name }}
        </li>
      </ul>
    </div>
  </form>
</div>

<!-- <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Patua+One' rel='stylesheet' type='text/css'> -->
