<p style="margin-top:110px;">
  <button
    type="button"
    class="btn btn-lg btn-info"
    [ngClass]="{ active: selected }"
    (click)="yes()"
  >
    Yes
  </button>
  <button
    type="button"
    class="ml-3 btn btn-lg btn-danger"
    [ngClass]="{ active: !selected }"
    (click)="no()"
  >
    No
  </button>
</p>
