<app-search-bar></app-search-bar>
<div class="theme-hero-area theme-hero-area-primary">
  <div class="theme-hero-area-bg-wrap">
    <div
      class="theme-hero-area-bg ws-action"
      style="background-image:url(assets/new-template/img/o14abktz5iy_1500x800.jpg);"
      data-parallax="true"
    ></div>
    <div class="theme-hero-area-mask theme-hero-area-mask-half"></div>
    <div
      class="theme-hero-area-inner-shadow theme-hero-area-inner-shadow-light"
    ></div>
  </div>
  <div class="theme-hero-area-body">
    <div class="_pt-100 _pb-150 _pv-mob-50">
      <div class="container">
        <div class="theme-search-area-tabs">
          <div class="theme-search-area-tabs-header _c-w _ta-mob-c">
            <h1 class="theme-search-area-tabs-title">Start Your Jorney</h1>
            <p class="theme-search-area-tabs-subtitle">
              Compare hundreds travels and tours at once
            </p>
          </div>
          <!-- <div class="tabbable">
                            <ul class="nav nav-tabs nav-line nav-white nav-lg nav-mob-inline" role="tablist">
                                <li class="active" role="presentation">
                                    <a aria-controls="SearchAreaTabs-1" role="tab" data-toggle="tab" href="#SearchAreaTabs-1">Hotels</a>
                                </li>
                                <li role="presentation">
                                    <a aria-controls="SearchAreaTabs-2" role="tab" data-toggle="tab" href="#SearchAreaTabs-2">Homes</a>
                                </li>
                                <li role="presentation">
                                    <a aria-controls="SearchAreaTabs-3" role="tab" data-toggle="tab" href="#SearchAreaTabs-3">Flights</a>
                                </li>
                                <li role="presentation">
                                    <a aria-controls="SearchAreaTabs-4" role="tab" data-toggle="tab" href="#SearchAreaTabs-4">Cars</a>
                                </li>
                                <li role="presentation">
                                    <a aria-controls="SearchAreaTabs-5" role="tab" data-toggle="tab" href="#SearchAreaTabs-5">Experiences</a>
                                </li>
                            </ul>
                            <div class="tab-content _pt-20">
                                <div class="tab-pane active" id="SearchAreaTabs-1" role="tab-panel">
                                    <div class="theme-search-area theme-search-area-stacked">
                                        <div class="theme-search-area-form">
                                            <div class="row" data-gutter="none">
                                                <div class="col-md-3 ">
                                                    <div class="theme-search-area-section first theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                            <input class="theme-search-area-section-input typeahead" type="text" placeholder="Hotel Location" data-provide="typeahead" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="row" data-gutter="none">
                                                        <div class="col-md-6 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                                    <input class="theme-search-area-section-input datePickerStart _mob-h" value="Wed 06/27" type="text" placeholder="Check-in" />
                                                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27" type="date" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                                    <input class="theme-search-area-section-input datePickerEnd _mob-h" value="Mon 07/02" type="text" placeholder="Check-out" />
                                                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-07-02" type="date" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="row" data-gutter="none">
                                                        <div class="col-md-6 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr quantity-selector" data-increment="Rooms">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-tag"></i>
                                                                    <input class="theme-search-area-section-input" value="1 Room" type="text" />
                                                                    <div class="quantity-selector-box" id="HotelSearchRooms">
                                                                        <div class="quantity-selector-inner">
                                                                            <p class="quantity-selector-title">Rooms</p>
                                                                            <ul class="quantity-selector-controls">
                                                                                <li class="quantity-selector-decrement">
                                                                                    <a href="#">&#45;</a>
                                                                                </li>
                                                                                <li class="quantity-selector-current">1</li>
                                                                                <li class="quantity-selector-increment">
                                                                                    <a href="#">&#43;</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr quantity-selector" data-increment="Guests">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-people"></i>
                                                                    <input class="theme-search-area-section-input" value="2 Guests" type="text" />
                                                                    <div class="quantity-selector-box" id="HotelSearchGuests">
                                                                        <div class="quantity-selector-inner">
                                                                            <p class="quantity-selector-title">Guests</p>
                                                                            <ul class="quantity-selector-controls">
                                                                                <li class="quantity-selector-decrement">
                                                                                    <a href="#">&#45;</a>
                                                                                </li>
                                                                                <li class="quantity-selector-current">1</li>
                                                                                <li class="quantity-selector-increment">
                                                                                    <a href="#">&#43;</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <button class="theme-search-area-submit _mt-0 theme-search-area-submit-no-border theme-search-area-submit-curved">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="theme-search-area-options _mob-h theme-search-area-options-white theme-search-area-options-dot-primary-inverse clearfix">
                                            <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                            <input type="radio" name="hotel-options" id="hotel-option-1" checked/>Any
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="hotel-options" id="hotel-option-2"/>Business
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="hotel-options" id="hotel-option-3"/>Family
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="hotel-options" id="hotel-option-4"/>Luxury
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="hotel-options" id="hotel-option-5"/>Budget
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="hotel-options" id="hotel-option-6"/>Romantic
                          </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="SearchAreaTabs-2" role="tab-panel">
                                    <div class="theme-search-area theme-search-area-stacked">
                                        <div class="theme-search-area-form">
                                            <div class="row" data-gutter="none">
                                                <div class="col-md-4 ">
                                                    <div class="theme-search-area-section first theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                            <input class="theme-search-area-section-input typeahead" type="text" placeholder="Apartment Location" data-provide="typeahead" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 ">
                                                    <div class="row" data-gutter="none">
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                                    <input class="theme-search-area-section-input datePickerStart _mob-h" value="Wed 06/27" type="text" placeholder="Check-in" />
                                                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27" type="date" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                                    <input class="theme-search-area-section-input datePickerEnd _mob-h" value="Mon 07/02" type="text" placeholder="Check-out" />
                                                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-07-02" type="date" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr quantity-selector" data-increment="Guests">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-people"></i>
                                                                    <input class="theme-search-area-section-input" value="2 Guests" type="text" />
                                                                    <div class="quantity-selector-box" id="RoomSearchGuests">
                                                                        <div class="quantity-selector-inner">
                                                                            <p class="quantity-selector-title">Guests</p>
                                                                            <ul class="quantity-selector-controls">
                                                                                <li class="quantity-selector-decrement">
                                                                                    <a href="#">&#45;</a>
                                                                                </li>
                                                                                <li class="quantity-selector-current">1</li>
                                                                                <li class="quantity-selector-increment">
                                                                                    <a href="#">&#43;</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <button class="theme-search-area-submit _mt-0 theme-search-area-submit-no-border theme-search-area-submit-curved">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="theme-search-area-options _mob-h theme-search-area-options-white theme-search-area-options-dot-primary-inverse clearfix">
                                            <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                            <input type="radio" name="room-options" id="room-option-1" checked/>Any
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="room-options" id="room-option-2"/>Entire Home
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="room-options" id="room-option-3"/>Private Room
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="room-options" id="room-option-4"/>Shared Space
                          </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="SearchAreaTabs-3" role="tab-panel">
                                    <div class="theme-search-area theme-search-area-stacked">
                                        <div class="theme-search-area-form">
                                            <div class="row" data-gutter="none">
                                                <div class="col-md-5 ">
                                                    <div class="row" data-gutter="none">
                                                        <div class="col-md-6 ">
                                                            <div class="theme-search-area-section first theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                                    <input class="theme-search-area-section-input typeahead" type="text" placeholder="Departure" data-provide="typeahead" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                                    <input class="theme-search-area-section-input typeahead" type="text" placeholder="Arrival" data-provide="typeahead" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="row" data-gutter="none">
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                                    <input class="theme-search-area-section-input datePickerStart _mob-h" value="Wed 06/27" type="text" placeholder="Check-in" />
                                                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27" type="date" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                                    <input class="theme-search-area-section-input datePickerEnd _mob-h" value="Mon 07/02" type="text" placeholder="Check-out" />
                                                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-07-02" type="date" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr quantity-selector" data-increment="Passengers">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-people"></i>
                                                                    <input class="theme-search-area-section-input" value="1 Passenger" type="text" />
                                                                    <div class="quantity-selector-box" id="FlySearchPassengers">
                                                                        <div class="quantity-selector-inner">
                                                                            <p class="quantity-selector-title">Passengers</p>
                                                                            <ul class="quantity-selector-controls">
                                                                                <li class="quantity-selector-decrement">
                                                                                    <a href="#">&#45;</a>
                                                                                </li>
                                                                                <li class="quantity-selector-current">1</li>
                                                                                <li class="quantity-selector-increment">
                                                                                    <a href="#">&#43;</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <button class="theme-search-area-submit _mt-0 theme-search-area-submit-no-border theme-search-area-submit-curved">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="theme-search-area-options theme-search-area-options-white theme-search-area-options-dot-primary-inverse clearfix">
                                            <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                            <input type="radio" name="flight-options" id="flight-option-1" checked/>Round Trip
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="flight-options" id="flight-option-2"/>One Way
                          </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="SearchAreaTabs-4" role="tab-panel">
                                    <div class="theme-search-area theme-search-area-stacked">
                                        <div class="theme-search-area-form">
                                            <div class="row" data-gutter="none">
                                                <div class="col-md-7 ">
                                                    <div class="row" data-gutter="none">
                                                        <div class="col-md-6 ">
                                                            <div class="theme-search-area-section first theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                                    <input class="theme-search-area-section-input typeahead" type="text" placeholder="Pick up location" data-provide="typeahead" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                                    <input class="theme-search-area-section-input typeahead" type="text" placeholder="Drop off location" data-provide="typeahead" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                            <input class="theme-search-area-section-input datePickerStart _mob-h" value="Wed 06/27" type="text" placeholder="Check-in" />
                                                            <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27" type="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                            <input class="theme-search-area-section-input datePickerEnd _mob-h" value="Mon 07/02" type="text" placeholder="Check-out" />
                                                            <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-07-02" type="date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <button class="theme-search-area-submit _mt-0 theme-search-area-submit-no-border theme-search-area-submit-curved">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="theme-search-area-options _mob-h theme-search-area-options-white theme-search-area-options-dot-primary-inverse clearfix">
                                            <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                            <input type="radio" name="car-options" id="car-option-1" checked/>Any
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="car-options" id="car-option-2"/>Sedan
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="car-options" id="car-option-3"/>Hatchback
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="car-options" id="car-option-4"/>SUV
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="car-options" id="car-option-5"/>Crossover
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="car-options" id="car-option-6"/>Coupe
                          </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="SearchAreaTabs-5" role="tab-panel">
                                    <div class="theme-search-area theme-search-area-stacked">
                                        <div class="theme-search-area-form">
                                            <div class="row" data-gutter="none">
                                                <div class="col-md-4 ">
                                                    <div class="theme-search-area-section first theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                        <div class="theme-search-area-section-inner">
                                                            <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                            <input class="theme-search-area-section-input typeahead" type="text" placeholder="Destination" data-provide="typeahead" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 ">
                                                    <div class="row" data-gutter="none">
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                                    <input class="theme-search-area-section-input datePickerStart _mob-h" value="Wed 06/27" type="text" placeholder="Check-in" />
                                                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27" type="date" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                                    <input class="theme-search-area-section-input datePickerEnd _mob-h" value="Mon 07/02" type="text" placeholder="Check-out" />
                                                                    <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-07-02" type="date" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 ">
                                                            <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr quantity-selector" data-increment="Guests">
                                                                <div class="theme-search-area-section-inner">
                                                                    <i class="theme-search-area-section-icon lin lin-people"></i>
                                                                    <input class="theme-search-area-section-input" value="2 Guests" type="text" />
                                                                    <div class="quantity-selector-box" id="ExpSearchGuests">
                                                                        <div class="quantity-selector-inner">
                                                                            <p class="quantity-selector-title">Guests</p>
                                                                            <ul class="quantity-selector-controls">
                                                                                <li class="quantity-selector-decrement">
                                                                                    <a href="#">&#45;</a>
                                                                                </li>
                                                                                <li class="quantity-selector-current">1</li>
                                                                                <li class="quantity-selector-increment">
                                                                                    <a href="#">&#43;</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <button class="theme-search-area-submit _mt-0 theme-search-area-submit-no-border theme-search-area-submit-curved">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="theme-search-area-options _mob-h theme-search-area-options-white theme-search-area-options-dot-primary-inverse clearfix">
                                            <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                            <input type="radio" name="exp-options" id="exp-option-1" checked/>Any
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="exp-options" id="exp-option-2"/>Experiences
                          </label>
                                                <label class="btn btn-primary">
                            <input type="radio" name="exp-options" id="exp-option-3"/>Immersions
                          </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

          <app-features></app-features>
          <!-- <app-city-medias></app-city-medias> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row row-col-border-white" data-gutter="0">
  <div class="col-md-3 ">
    <div class="banner banner-">
      <img
        class="banner-img"
        src="assets/new-template/img/index/cto/1.jpg"
        alt="Image Alternative text"
        title="Image Title"
      />
      <a class="banner-link" href="#"></a>
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="banner banner-">
      <img
        class="banner-img"
        src="assets/new-template/img/index/cto/3.jpg"
        alt="Image Alternative text"
        title="Image Title"
      />
      <a class="banner-link" href="#"></a>
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="banner banner-">
      <img
        class="banner-img"
        src="assets/new-template/img/index/cto/2.jpg"
        alt="Image Alternative text"
        title="Image Title"
      />
      <a class="banner-link" href="#"></a>
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="banner banner-">
      <img
        class="banner-img"
        src="assets/new-template/img/index/cto/4.jpg"
        alt="Image Alternative text"
        title="Image Title"
      />
      <a class="banner-link" href="#"></a>
    </div>
  </div>
</div> -->
<div class="theme-hero-area">
  <div class="theme-hero-area-bg-wrap">
    <div
      class="theme-hero-area-bg-pattern theme-hero-area-bg-pattern-ultra-light"
      style="background-image:url(assets/new-template/img/patterns/travel/2.png);"
    ></div>
    <div class="theme-hero-area-grad-mask"></div>
    <div
      class="theme-hero-area-inner-shadow theme-hero-area-inner-shadow-light"
    ></div>
  </div>
  <div class="theme-hero-area-body">
    <div class="theme-page-section theme-page-section-xxl">
      <div class="container">
        <div class="theme-page-section-header theme-page-section-header-white">
          <h5 class="theme-page-section-title">Cities to Travel</h5>
          <p class="theme-page-section-subtitle">
            The most searched cities
          </p>
        </div>
        <div class="theme-inline-slider row" data-gutter="10">
          <div
            class="owl-carousel owl-carousel-nav-white"
            data-items="5"
            data-loop="true"
            data-nav="true"
          >
            <div class="theme-inline-slider-item">
              <div
                class="banner _h-40vh _br-3 _bsh-xs banner-animate banner-animate-mask-in banner-animate-slow"
              >
                <div
                  class="banner-bg"
                  style="background-image:url(assets/new-template/img/ancient-architecture-asia-buddhism-460376_400x500.jpeg);"
                ></div>
                <div class="banner-mask"></div>
                <a
                  class="banner-link"
                  [routerLink]="['/details', { id: 'city:315' }]"
                ></a>
                <div
                  class="banner-caption _p-20 _bg-w banner-caption-bottom banner-caption-dark"
                >
                  <h5 class="banner-title _fs _fw-b">Bangkok</h5>
                  <p class="banner-subtitle _fw-n _mt-5">Leo porta sit</p>
                </div>
              </div>
            </div>
            <div class="theme-inline-slider-item">
              <div
                class="banner _h-40vh _br-3 _bsh-xs banner-animate banner-animate-mask-in banner-animate-slow"
              >
                <div
                  class="banner-bg"
                  style="background-image:url(assets/new-template/img/bridge-california-cliff-golden-gate-bridge-7653_400x500.jpeg);"
                ></div>
                <div class="banner-mask"></div>
                <a
                  class="banner-link"
                  [routerLink]="['/details', { id: 'city:315' }]"
                ></a>
                <div
                  class="banner-caption _p-20 _bg-w banner-caption-bottom banner-caption-dark"
                >
                  <h5 class="banner-title _fs _fw-b">San Francisco</h5>
                  <p class="banner-subtitle _fw-n _mt-5">Mattis nibh nisl</p>
                </div>
              </div>
            </div>
            <div class="theme-inline-slider-item">
              <div
                class="banner _h-40vh _br-3 _bsh-xs banner-animate banner-animate-mask-in banner-animate-slow"
              >
                <div
                  class="banner-bg"
                  style="background-image:url(assets/new-template/img/nnzkznywhau_400x500.jpg);"
                ></div>
                <div class="banner-mask"></div>
                <a class="banner-link" href="#"></a>
                <div
                  class="banner-caption _p-20 _bg-w banner-caption-bottom banner-caption-dark"
                >
                  <h5 class="banner-title _fs _fw-b">Paris</h5>
                  <p class="banner-subtitle _fw-n _mt-5">Gravida cras enim</p>
                </div>
              </div>
            </div>
            <div class="theme-inline-slider-item">
              <div
                class="banner _h-40vh _br-3 _bsh-xs banner-animate banner-animate-mask-in banner-animate-slow"
              >
                <div
                  class="banner-bg"
                  style="background-image:url(assets/new-template/img/big-ben-bridge-castle-city-460672_400x500.jpg);"
                ></div>
                <div class="banner-mask"></div>
                <a class="banner-link" href="#"></a>
                <div
                  class="banner-caption _p-20 _bg-w banner-caption-bottom banner-caption-dark"
                >
                  <h5 class="banner-title _fs _fw-b">London</h5>
                  <p class="banner-subtitle _fw-n _mt-5">
                    Inceptos pellentesque facilisi
                  </p>
                </div>
              </div>
            </div>
            <div class="theme-inline-slider-item">
              <div
                class="banner _h-40vh _br-3 _bsh-xs banner-animate banner-animate-mask-in banner-animate-slow"
              >
                <div
                  class="banner-bg"
                  style="background-image:url(assets/new-template/img/architecture-art-clouds-landmark-290386_400x500.jpeg);"
                ></div>
                <div class="banner-mask"></div>
                <a class="banner-link" href="#"></a>
                <div
                  class="banner-caption _p-20 _bg-w banner-caption-bottom banner-caption-dark"
                >
                  <h5 class="banner-title _fs _fw-b">New York</h5>
                  <p class="banner-subtitle _fw-n _mt-5">
                    Massa mus parturient
                  </p>
                </div>
              </div>
            </div>
            <div class="theme-inline-slider-item">
              <div
                class="banner _h-40vh _br-3 _bsh-xs banner-animate banner-animate-mask-in banner-animate-slow"
              >
                <div
                  class="banner-bg"
                  style="background-image:url(assets/new-template/img/scenic-view-of-city-at-sunset-316001_400x500.jpeg);"
                ></div>
                <div class="banner-mask"></div>
                <a class="banner-link" href="#"></a>
                <div
                  class="banner-caption _p-20 _bg-w banner-caption-bottom banner-caption-dark"
                >
                  <h5 class="banner-title _fs _fw-b">London</h5>
                  <p class="banner-subtitle _fw-n _mt-5">Ante fusce faucibus</p>
                </div>
              </div>
            </div>
            <div class="theme-inline-slider-item">
              <div
                class="banner _h-40vh _br-3 _bsh-xs banner-animate banner-animate-mask-in banner-animate-slow"
              >
                <div
                  class="banner-bg"
                  style="background-image:url(assets/new-template/img/asia-japan-japanese-japanese-culture-590478_400x500.jpg);"
                ></div>
                <div class="banner-mask"></div>
                <a class="banner-link" href="#"></a>
                <div
                  class="banner-caption _p-20 _bg-w banner-caption-bottom banner-caption-dark"
                >
                  <h5 class="banner-title _fs _fw-b">Tokyo</h5>
                  <p class="banner-subtitle _fw-n _mt-5">
                    Quam fringilla cursus
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="theme-page-section theme-page-section-xxl">
  <div class="container">
    <div class="theme-page-section-header">
      <h5 class="theme-page-section-title">Top Destinations</h5>
      <p class="theme-page-section-subtitle">
        The most searched cities
      </p>
    </div>
    <div class="row row-col-gap" data-gutter="10">
      <div class="col-md-4 ">
        <div
          class="banner _h-40vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in"
        >
          <div
            class="banner-bg"
            style="background-image:url(assets/new-template/img/ancient-architecture-asia-buddhism-460376_400x500.jpeg);"
          ></div>
          <div class="banner-mask"></div>
          <a class="banner-link" [routerLink]="['/details', { id: 'city:315' }]"></a>
          <div
            class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad"
          >
            <h5 class="banner-title">Bangkok</h5>
            <p class="banner-subtitle">Thailand</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 ">
        <div
          class="banner _h-40vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in"
        >
          <div
            class="banner-bg"
            style="background-image:url(assets/new-template/img/bridge-california-cliff-golden-gate-bridge-7653_400x500.jpeg);"
          ></div>
          <div class="banner-mask"></div>
          <a class="banner-link" [routerLink]="['/details', { id: 'city:377' }]"></a>
          <div
            class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad"
          >
            <h5 class="banner-title">San Francisco</h5>
            <p class="banner-subtitle">America</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div
          class="banner _h-33vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in"
        >
          <div
            class="banner-bg"
            style="background-image:url(assets/new-template/img/nnzkznywhau_400x500.jpg);"
          ></div>
          <div class="banner-mask"></div>
          <a class="banner-link" [routerLink]="['/details', { id: 'city:14' }]"></a>
          <div
            class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad"
          >
            <h5 class="banner-title">Paris</h5>
            <p class="banner-subtitle">France</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div
          class="banner _h-33vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in"
        >
          <div
            class="banner-bg"
            style="background-image:url(assets/new-template/img/7bjmdicvloe_800x800.jpeg);"
          ></div>
          <div class="banner-mask"></div>
          <a class="banner-link" [routerLink]="['/details', { id: 'city:308' }]"></a>
          <div
            class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad"
          >
            <h5 class="banner-title">Toronto</h5>
            <p class="banner-subtitle">Canada</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div
          class="banner _h-33vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in"
        >
          <div
            class="banner-bg"
            style="background-image:url(assets/new-template/img/scenic-view-of-city-at-sunset-316001_400x500.jpeg);"
          ></div>
          <div class="banner-mask"></div>
          <a class="banner-link" [routerLink]="['/details', { id: 'city:1' }]"></a>
          <div
            class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad"
          >
            <h5 class="banner-title">London</h5>
            <p class="banner-subtitle">England</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div
          class="banner _h-33vh _br-3 banner-animate banner-animate-mask-in banner-animate-very-slow banner-animate-zoom-in"
        >
          <div
            class="banner-bg"
            style="background-image:url(assets/new-template/img/asia-japan-japanese-japanese-culture-590478_400x500.jpg);"
          ></div>
          <div class="banner-mask"></div>
          <a class="banner-link" [routerLink]="['/details', { id: 'city:2585' }]"></a>
          <div
            class="banner-caption _pt-100 banner-caption-bottom banner-caption-grad"
          >
            <h5 class="banner-title">Tokyo</h5>
            <p class="banner-subtitle">Japan</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="theme-hero-area">
  <div class="theme-hero-area-bg-wrap">
    <div
      class="theme-hero-area-bg"
      style="background-image:url(assets/new-template/img/ugx2qdjdkkw_1500x800.jpeg);"
    ></div>
    <div
      class="theme-hero-area-inner-shadow theme-hero-area-inner-shadow-light"
    ></div>
  </div>
  <div class="theme-hero-area-body">
    <div class="container">
      <div class="theme-page-section _p-0">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="theme-mobile-app">
              <div class="row">
                <div class="col-md-6">
                  <div class="theme-mobile-app-section">
                    <div class="theme-mobile-app-body">
                      <div class="theme-mobile-app-header">
                        <h2 class="theme-mobile-app-title">
                          Put your features
                        </h2>
                        <p class="theme-mobile-app-subtitle">
                          Book and manage your trips on the go. Be notified of
                          our hot deals and offers.
                        </p>
                      </div>
                      <!-- <ul class="theme-mobile-app-btn-list">
                        <li>
                          <a class="btn btn-dark theme-mobile-app-btn" href="#">
                            <i class="theme-mobile-app-logo">
                              <img
                                src="assets/new-template/img/brands/apple.png"
                                alt="Image Alternative text"
                                title="Image Title"
                              />
                            </i>
                            <span
                              >Download on
                              <br />
                              <span>App Store</span>
                            </span>
                          </a>
                        </li>
                        <li>
                          <a class="btn btn-dark theme-mobile-app-btn" href="#">
                            <i class="theme-mobile-app-logo">
                              <img
                                src="assets/new-template/img/brands/play-market.png"
                                alt="Image Alternative text"
                                title="Image Title"
                              />
                            </i>
                            <span
                              >Download on
                              <br />
                              <span>Play Market</span>
                            </span>
                          </a>
                        </li>
                      </ul> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="theme-mobile-app-section"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
